.relogio {
  text-align: center; }

.ponto-relogio {
  font-size: 15em;
  text-align: center;
  color: darksalmon; }

button.ponto-relogio {
  font-size: 2em;
  text-align: center;
  letter-spacing: 3px;
  width: 5em; }

h3, p.rel,btnregistro{
color: black;
  text-align: center;
}



.btnregistro{



}

.rel {
  font-size: 10em
}
