<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main"/>
    <asset:stylesheet src="css/style_ponto.css"/>
    <title>Relogio </title>
</head>

 <body>

    <div id="app-relogio">





                 {{ horarioLocal }}




                 <input type="text"  v-model="rg"/>
                 <button class="btn btn-info" @click="registroPonto"> Registrar Ponto</button>







    </div>
    



<asset:javascript src="ponto-controller.js" asset-defer=""/>
</body>
</html>



